Repository trussworks/cmspw: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, black, flake8

pyproject.toml:
  name: validate pyproject.toml
  language: system
  entry: poetry check
  pass_filenames: false

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: poetry run flake8

Convert readme from markdown to restructuredtext
  .pre-commit-config.yaml
  README.md
  README.rst
Due: none

Switch while True loop to do-while pattern
  cmspw/__main__.py
Due: black, flake8

Only print the accepted password
  README.rst
  cmspw/__main__.py
Due: black, flake8

Bump module version to 1.1.0
  pyproject.toml
Due: pyproject.toml

Updating CircleCi config
  .circleci/config.yml
Due: none

Update poetry and pre-commit in CI
  .circleci/config.yml
Due: none

Add missing project metadata in pyproject.toml
  pyproject.toml
Due: pyproject.toml

Escape special character in readme
  README.rst
Due: none

Add installation instructions for pypi
  README.rst
Due: none

Fix project homepage URL
  pyproject.toml
Due: pyproject.toml

Add docker auth to circleCI
  .circleci/config.yml
Due: none

Restore indentation in workflow def
  .circleci/config.yml
Due: none

Don't pin poetry and pre-commit in CI
  .circleci/config.yml
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

Add (sic)
  README.rst
Due: none

Add renovate.json
  renovate.json
Due: none

poetry update
  poetry.lock
Due: none

update pre-commit, add gha, remove circleci
  .circleci/config.yml
  .github/workflows/validate.yml
  .pre-commit-config.yaml
Due: none

remove local stuff
  .pre-commit-config.yaml
Due: none

put back local hooks
  .pre-commit-config.yaml
Due: none

update pre-commit-hook
  .pre-commit-config.yaml
Due: none

fix indentation
  .pre-commit-config.yaml
Due: none

switch validate gha
  .github/workflows/validate.yml
Due: none

try with specific python version
  .github/workflows/validate.yml
Due: none

use main branch
  .github/workflows/validate.yml
Due: none

Path conditions:
  pyproject.toml: any of: pyproject\.toml
  black: any of: \.py$
  flake8: any of: \.py$
